<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PodPoint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="grid-container">

        <header class="header">
            <h2>Units</h2>
        </header>

        <main class="main">
            <div class="content">
                <ul class="all-units">

                    <li class="unit">
                        <div class="unit-info-container">
                            <div class="unit-logo">
                                <img src="charge_point_logo.png" alt="charge-point"/>
                            </div>

                            <div class="unit-details">
                                <div>
                                    <h4>POD Point Office</h4>
                                    <p>Discovery House - EC1Y 8QE</p>
                                </div>
                            </div>

                            <div class="status-action-container">
                                <div class="status-title">
                                    AVAILABLE
                                </div>
                                <div class="status-action-button">
                                    <button type="button">
                                        Start
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="unit-charge-info-container">
                            3 charges
                        </div>
                    </li>

                    <li class="unit">
                        <div class="unit-info-container">
                            <div class="unit-logo">
                                <img src="charge_point_logo.png" alt="charge-point"/>
                            </div>

                            <div class="unit-details">
                                <div>
                                    <h4>POD Point Office</h4>
                                    <p>Discovery House - EC1Y 8QE</p>
                                </div>
                            </div>

                            <div class="status-action-container">
                                <div class="status-title">
                                    AVAILABLE
                                </div>
                                <div class="status-action-button">
                                    <button type="button">
                                        Start
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="unit-charge-info-container">
                            3 charges
                        </div>
                    </li>

                    <li class="unit">
                        <div class="unit-info-container">
                            <div class="unit-logo">
                                <img src="charge_point_logo.png" alt="charge-point"/>
                            </div>

                            <div class="unit-details">
                                <div>
                                    <h4>POD Point Office</h4>
                                    <p>Discovery House - EC1Y 8QE</p>
                                </div>
                            </div>

                            <div class="status-action-container">
                                <div class="status-title">
                                    AVAILABLE
                                </div>
                                <div class="status-action-button">
                                    <button type="button">
                                        Start
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="unit-charge-info-container">
                            3 charges
                        </div>
                    </li>

                </ul>
            </div>
        </main>

        <footer class="footer">

            <div class="footer-item-container">
                <img src="favourites_logo.png" />
                <h4>Favourites</h4>
            </div>

            <div class="footer-item-container">
                <img src="units_logo.png" />
                <h4>Units</h4>
            </div>

            <div class="footer-item-container">
                <img src="account_logo.png" />
                <h4>Account</h4>
            </div>

        </footer>

    </div>

</body>
</html>