html {
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
}

body {
    font: 1.6rem "Trebuchet MS";
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr 15rem;
    height: 100%;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3cb44a;
}

.header h2 {
    font-size: 5rem;
    color: white;
}

/* UNITS LIST */

.main {
    grid-area: main;
    background-color: #f5f6f7;
    border-bottom: 0.1rem grey solid;
}

.content {
    margin: 0;
}

.all-units {
    align-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding-inline-start: 0;
    font-size: 3rem;
}

.all-units li {
    list-style-type: none;
    flex: 0 1;
    height: 15rem;
    border-bottom: 0.1rem grey solid;
    background-color: white;
    padding-top: 2rem;
}

.unit-info-container {
    display: flex;
}

.unit-logo {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.unit-logo img {
    height: 10rem;
}

.unit-details {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: left;;
}

.unit-details h4 {
    margin: 0;
}

.unit-details p {
    color: #636b6f;
    margin-top: 1rem;
}

.status-action-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding-right: 2rem;
}

.status-title {
    text-align: center;
    margin-bottom: 1rem;
}

.status-action-button button {
    justify-content: center;
    width: 100%;
    background-color: #3cb44a;
    color: white;
    height: 6rem;
    font: 3rem "Trebuchet MS";
    border: 0;
}

.button-status-charging {
    background-color: #f47f20;
}

.unit-charge-info-container {
    display: flex;
    color: #636b6f;
    justify-content: center;
    align-items: baseline;
}

/* FOOTER */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem 0 10rem;
}

.footer-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item-container img {
    height: 8rem;
}

.footer-item-container h4 {
    margin: 0;
    font-size: 3rem;
    color: #636b6f;
}



